@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.container-main {
  @apply container min-h-screen mx-auto px-5;
}
.flexx{
  @apply flex;
  @apply items-center;

}
.bg_color {
  @apply bg-[#040C18] ;
}
.text_heading {
  @apply text-[#AE67FA];
}
.text_color {
  @apply text-[#81AFDD];
}
.text_pech{
  @apply text-[#FF8A71];
}
.bg_blog{
  @apply bg-[#042C54];
}
.buttons{
  @apply bg-[#FF4820];
}
.footer{
  @apply bg-[#031B34];
}
.inputt{
  @apply bg-[#052D56];
}
.bg_selected{
  @apply bg-[#AE67FA];
}

.gradient__bg {
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}
